<div class="container">
  <div class="container__item container--fixed">
      <h1 class="mat-display-3">Resume App</h1>
      <form *ngIf="loggedIn">
        <div class="search-container">
          <app-search appearance="outline"></app-search>
        </div>
      </form>
      <button mat-raised-button color="primary" routerLink="/results" *ngIf="loggedIn">Resume Search</button>
      <button mat-raised-button color="primary" (click)="openDialog()" *ngIf="loggedIn">Resume Upload</button>
      <button mat-raised-button color="primary" (click)="loggedIn = true" *ngIf="!loggedIn">Log In</button>
  </div>
  <footer>
      <a mat-fab href="https://mikelinc.com" target="_blank">MIKEL</a>
  </footer>
</div>